rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tokens/{document=**} {
      allow read, write: if true;
    }
    match /contacts/{document=**} {
      allow read, write: if true;
    }
  }
}
